PORT=3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=emadshamsaki1992@gmail.com
SMTP_PASS=chah avoj oard thxr
MAIL_FROM=emadshamsaki1992@gmail.com
APPOINTMENT_NOTIFICATION_EMAIL=emadshamsaki1992@gmail.com
